<!--https://getbootstrap.com/docs/5.0/getting-started/introduction/
navbar-->
<!--https://getbootstrap.com/docs/5.0/getting-started/introduction/-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Bug Finder</title>
  </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Bug Tracker</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addticket/">Add Ticket</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>

            </ul>
        </div>
    </nav>
<div class="container">

    {% if request.user.is_authenticated %}


    <h4>Welcome, {{request.user.username}}</h4>
<br>

    <h3>Available Tickets</h3>
    <hr /> <br />
    <h4>New Tickets</h4>
    <ul>
        {% for ticket in tickets %} {% if ticket.ticket_status == "NEW" %} {{ ticket.assigned_to }} {{ ticket.filed_by }} {{ ticket.time_date }}

        <li>
            {{ticket.id}} <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>

        {% endif %}
        {% endfor %}

    </ul>
    <hr />
    <h4>In Progress Tickets</h4>
    <ul>
        {% for ticket in tickets %} {% if ticket.ticket_status == "INPROGRESS" %} {{ ticket.assigned_to }} {{ ticket.filed_by }} {{ ticket.time_date }}

        <li>
            {{ticket.id}} <a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
    <hr />
    <h4>Completed Tickets</h4>
    <ul>
        {% for ticket in tickets %} {% if ticket.ticket_status == "DONE" %} {{ ticket.assigned_to }} {{ ticket.filed_by }} {{ ticket.completed_by }} {{ ticket.time_date }}

        <li>
            {{ticket.id}} <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
    <hr />
    <h4>Invalid Tickets</h4>
    <ul>
<!--        this renders info on page-->
        {% for ticket in tickets %} {% if ticket.ticket_status == "INVALID" %}

        <li>
            {{ticket.id}} <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>


    {% else %}

    <h1>Please Sign In!</h1>
    <li class="nav-item active">
        <a class="nav-link" href="/login/">Login</a>
    </li>
    {% endif %}

</div>
