<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Bug Finder</title>
  </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Bug Tracker</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addticket/">Add Ticket</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>

            </ul>

        </div>
    </nav>


<div class="container">
    <a href="/edit/{{ticket.id}}">Edit Ticket</a>
    <h2>Ticket Detail</h2>
    <br />


    <h3>Ticket #: {{ticket.id}}</h3>
    <h3>Title: {{ticket.title}}</h3>
    <h3>Description: {{ticket.description}}</h3>
    <h3>Filed by: <a href="/user/{{ticket.filed_by}}/">{{ticket.filed_by}}</a></h3>
    <h3> Current status of ticket: {{ticket.ticket_status}}</h3>
<!--    needs to be removed for new because there isn't assigned-->
    <h3>Ticket assigned to: <a href="/user/{{ticket.assigned_to}}">{{ticket.assigned_to}}</a></h3>
    <h3>Completed by: <a href="/user/{{ticket.completed_by}}">{{ticket.completed_by}}</a></h3>
<!--        <a href="/done/{{ticket.ticket_id}}/"><button>Edit Ticket Completed</button></a>-->
<!--    removed </div>-->


                    {% if ticket.ticket_status == 'NEW' %}
                        <div class="container">
                            <a href="/assign/{{ticket.id}}/">Assign Ticket</a>
                            <a href="/invalid/{{ticket.id}}/">Mark Invalid</a>
                        </div>

                    {% elif ticket.ticket_status == 'INPROGRESS' %}
                        <div class="'container">
                            <a href="/done/{{ticket.id}}/">Complete Ticket</a>
                            <a href="/invalid/{{ticket.id}}/">Mark Invalid</a>
                            </div>
                    {% endif %}
            </div>
