<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Bug Finder</title>
  </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Bug Tracker</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addticket/">Add Ticket</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>

            </ul>
        </div>
    </nav>
<div class="container">
    <h2>USER PROFILE</h2>
    <h3>Username: {{user.username}}</h3>
    <h3>Display Name: {{user.display_name}}</h3>
    <br />
    <br />

    <h3>Tickets user filed:</h3>
    <h3>Created by {{user.username}}</h3>
    <ul>
        {% for ticket in tickets %} {% if ticket.filed_by == user %}
        <li>
            <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>

    <h3>Tickets assigned to user: {{user.username}}</h3>
    <ul>
        {% for ticket in tickets %} {% if ticket.assigned_to == user %}

    <li>
        <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
    </li>
        {% endif %} {% endfor %}
    </ul>

    <h3>Tickets completed by user: {{user.username}}</h3>
    <ul>
        {% for ticket in tickets %} {% if ticket.completed_by == user %}

    <li>
        <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
    </li>
        {% endif %} {% endfor %}
    </ul>
